:root{
    --primary-color: #6499E9;
    --secondary-color:#9EDDFF;
}
*{
    padding: 0px;
    margin: 0px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color:white;
}
header h1{
    padding: 10px;
}
header nav ul{
    display: flex;
    
}
header nav li{
    display: inline-block;
}
header nav li button{
    border: 0px;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 0px 10px;
    color: var(--primary-color);
    background: white;
    transition-duration: 1s;
}
header nav li button:hover{
    color:white;
    background: var(--secondary-color);
    margin-right: 20px;
}
main{
    display: flex;
}

main .formSection{
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .formSection input{
    outline: unset;
}
main .formSection input+span{
    color: red;
    font-style: italic;
}
main .formSection .valid{
    border: 2px solid green;
}
main .formSection .invalid{
    border: 2px solid red;
}
main .listSection{
    flex:5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .formSection .ligneForm{
    display: flex;
    margin-top: 10px;
    gap: 6px;
}
main .formSection .ligneForm label{
    flex:2;
}
main .formSection .ligneForm input{
    flex:3;
}
main .formSection .controls{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
main .listSection table{
    width: 100%;
}
table{
    border-collapse: collapse;
}
table th, table td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.delete{
    border: 0px;
    padding: 10px 15px;
    background: red;
    color: white;
    border-radius: 5px;
}


.divExample{
    width: 400px;
    height: 400px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

