*{
    padding: 0;
    margin: 0;
}

.inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputSection div{
margin: 20px;
}
.inputSection div>*{
   width: 200px;
   display: inline-block;
}
.inputSection label{
    text-transform: capitalize;
}
.inputSection label::before{
    content: '-';
    margin-right: 2px;
}
.inputSection label::after{
    content: ':';
    margin-left: 2px;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.controls button{
 padding: 10px 20px;
 border: 0px;
}
.controls button:last-child{
background: aqua;
color: white;
}